@Html.Partial("AreaPopupView")
<div class="sidenav">
<ul class="nav" id="ctg" data-bind="foreach: AreaList, visible: AreaList().length">
    <li class="clearfix">
        <div class="area nav-header  alert alert-info" data-bind="visible: !$parent.SearchMode()">
            <span class="glyphicon glyphicon-chevron-down" data-bind="attr: { id: '#area_' + AreaId }, click: function (data) { $root.setActiveArea($root, data) }"></span>
            <span data-bind="    text: Name"></span>
            <i data-bind="visible: ProcessStatus(), css: { sloading: ProcessStatus() == 1 }"></i>
            <i class="glyphicon glyphicon-plus pull-right" title="Add new area" data-bind="click: $parent.clickNewArea"></i>
        </div>
        <div class="area nav-header alert alert-info" data-bind="visible: $parent.SearchMode()">
            <h4><a href="#" data-bind="click: $parent.exitSearchMode"><span class="glyphicon glyphicon-circle-arrow-left"></span>Exit search</a></h4>
            <span>Found blurbs in areas:</span>
        </div>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: ChildAreaList, visible: ChildAreaList().length ">
            <li class="clearfix" data-bind="css: { active: $root.ActiveArea() && AreaId == $root.ActiveArea().AreaId }">
                <a data-bind="attr: { href: '#' + AreaId }">
                    <span data-bind=" click: function (data) { $root.setActiveArea($root, data) }, text: Name"></span>
                    <i class="glyphicon glyphicon-pencil" data-bind="visible: !$root.SearchMode(), click: function (data) { $root.clickEdit($root, $parent, data) }"></i>
                </a>
                <span data-bind="visible: ProcessStatus(), css: { sloading: ProcessStatus() == 1 }"></span>
                <ul class="nav nav-pills nav-stacked " data-bind="foreach: ChildAreaList, visible: ChildAreaList().length ">
                    <li data-bind="css: { active: $root.ActiveArea() && AreaId == $root.ActiveArea().AreaId }">
                        @*  <a data-bind="attr: { href: '#' + AreaId }, click: getBlurbs"><span data-bind="    text: Name"></span></a>*@
                        <a data-bind="attr: { href: '#' + AreaId }">
                            <span data-bind="click: function (data) { $root.setActiveArea($root, data) }, text: Name"></span>
                            <i class="glyphicon glyphicon-pencil" data-bind="visible: !$root.SearchMode(), click: function (data) { $root.clickEdit($root, $parent, data) }"></i>
                        </a>
                        <span data-bind="visible: ProcessStatus(), css: { sloading: ProcessStatus() == 1 }"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
    </div>
<div data-bind="visible: !Product()">
    @Html.Partial("DefaultView")
</div>
