<h4 class="alert alert-info">BlurbDB DB Contents: <span class="text-success">@Html.Action("Summary")</span></h4>

<div id="instructions">
    <div class="row">
        <div class="col-md-2">
            <div class="sidenav" id="instructions_nav">
                <ul class="nav nav-pills nav-stacked sidenav" data-spy="affix" data-offset-top="100" >
                    <li class="active"><a href="#nav_addblurb">Add New Blurbs</a></li>
                    <li><a href="#nav_editblurb">Edit Blurbs</a></li>
                    <li><a href="#nav_searchblurb">Search for Blurbs</a></li>
                    <li><a href="#nav_addarea">Add Areas</a></li>
                    <li><a href="#nav_editarea">Edit/Delete Areas</a></li>
                    <li><a href="#nav_import">Export/import Excel</a></li>
                    <li><a href="#nav_sync">Sync Blurbs</a></li>
                </ul>
                </div>
        </div>
        <div class="col-md-10">
            <h1>Tutorial:</h1>
            <article class="thumbnail">
                <h2 id="nav_addblurb">Add New Blurbs</h2>
                <ol>
                    <li>Choose product , and also select areas where  you want to add blurb in .
                        <p>
                            <img width="567" height="256" id="Picture 8" src="/Content/instructions/image001.jpg" />
                        </p>
                    </li>
                    <li>Click 'Add blurb' button  to add a new blurb in specific area.
                        <p>
                            <img width="138"
                                height="54" id="Picture 7" src="/Content/instructions/image002.png" />
                        </p>
                    </li>
                    <li>Type blurb description in pop text , and Click 'Done' to finish adding.
                        <p>
                            <img width="575" height="289" id="Picture 6" src="/Content/instructions/image003.jpg" />
                        </p>
                    </li>
                    <li>You can add translation in this pop window as well, or  add translation
                        latter from the blurb list.
                        <p>
                            <img width="576"
                                height="332" id="Picture 5" src="/Content/instructions/image004.jpg" />
                        </p>
                    </li>
                </ol>
            </article>
            <article class="thumbnail">
                <h2  id="nav_editblurb">Edit Blurbs</h2>
                <ol>
                    <li>Delete blurbs:Click delete button to delete blurb and  all translation under it.
                    </li>
                    <li>Edit Blurb description:click the description text to make it editable, then save  it.
                    </li>
                    <li>Delete translation:Expand
                        blurb detail firstly, you can see each  translation items. Click delete button behind each translate to delete it.</li>
                    <li>Edit translation:click the translation item to make it editable, then save  it.
                    </li>
                </ol>
                <p>
                    <img
                        width="576" height="311" id="Picture 4" src="/Content/instructions/image005.jpg" />
                </p>
            </article>
            <article class="thumbnail">
                <h2 id="nav_searchblurb" >Search for blurbs</h2>
                <p>Type the search text in top right area, start searching</p>
                <p>
                    <img
                        width="181" height="42" alt="search box" src="/Content/instructions/image006.png" />
                </p>
            </article>
            <article class="thumbnail">
                <h2 id="nav_addarea">Add Areas</h2>
                <p>
                    Click cross button on the top of area tree , you can add area name, choose parent are  in the pop window.
                </p>
                <p>
                    <img width="576" height="363" alt="add area popup" src="/Content/instructions/image007.jpg" />
                </p>
            </article>
            <article class="thumbnail">
                <h2 id="nav_editarea">Edit/Delete Areas</h2>
                <ol>
                    <li>Click pencil button when hovering on the area list then it shows a popup for edit/delete area.
                        <p>
                            <img alt="edit area" src="/Content/instructions/area_hover.jpg" />
                        </p>
                    </li>
                    <li>Edit Area : input the name of this area then click 'Update area name' to save  it.
                    </li>
                    <li>Delete Area: click 'Remove this area' button. Please notice that this operation will delete all sub areas and blurbs in this area.
                        <p>
                            <img alt="area popup" src="/Content/instructions/area_eidtpopup.jpg" />
                        </p>

                    </li>
                </ol>

            </article>
            <article class="thumbnail">
                <h2 id="nav_import">Export/import Excel </h2>
                <p>
                    System provide the exporting and importing excel. Before importing data, you can get template firstly to make sure the
                    right format.
                </p>
            </article>
            <article class="thumbnail">
                <h2 id="nav_sync">Syncing
                    blurbs between dev/live environments</h2>
                <p>
                    <img
                        width="576" height="222" id="Picture 1" src="/Content/instructions/image008.jpg" />
                </p>
            </article>
        </div>
    </div>
</div>
